@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media md {
  .container {
    min-width: 768px;
    max-width: 720px;
  }
}
@media lg {
  .container {
    min-width: 992px;
    max-width: 960px;
  }
}
@media xl {
  .container {
    min-width: 1200px;
    max-width: 1140px;
  }
}
@media xxl {
  .container {
    min-width: 1400px;
    max-width: 1320px;
  }
}

.btn {
  background: linear-gradient(90deg, #f23779 43%, #ff6803 88%, #ffa62e 100%);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  height: auto;
  padding: 8px 26px;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  opacity: 85%;
}
.btn:hover {
  background: linear-gradient(90deg, #f23779 28%, #ff6803 62%, #ffa62e 99%);
  border: 1px solid #FF6803;
  opacity: 100%;
  transition: 0.1s ease-in;
}

.btn-border {
  background: transparent;
  font-size: 0.9444444444rem;
  font-family: "Roboto", sans-serif;
  color: #252525;
  color: #252525;
  height: auto;
  padding: 8px 26px;
  border: 1px solid #FF6803;
  border-radius: 5px;
  cursor: pointer;
}
.btn-border:hover {
  color: #FF6803;
  font-weight: 700;
  transition: 0.4s ease-in;
}

.border {
  border: 1px solid black;
}

#navbar .container {
  max-width: 1170px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #F8F9FE;
  opacity: 95%;
  border-bottom: 2px solid lightgray;
}
#navbar .nav {
  grid-template-columns: 1fr 3fr;
  align-items: center;
}
#navbar .nav .nav-links ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
}
#navbar .nav .nav-links ul a {
  align-self: center;
}
#navbar .nav .nav-links ul li {
  display: inline-block;
  padding: 0 1rem;
  font-size: 0.9444444444rem;
  font-family: "Roboto", sans-serif;
  color: #252525;
  font-weight: 500;
  justify-content: flex-end;
  align-self: center;
}

#home {
  background-image: url("../images/background_shape.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto;
}
#home .container {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
}
#home .home-content h1 {
  color: #252525;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.667rem;
  line-height: 3.333rem;
  padding-bottom: 1.667rem;
  font-size: 3rem;
  line-height: 3.778rem;
}
#home .home-content p {
  padding-bottom: 1.667rem;
}
#home .home-image {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  right: -20rem;
  margin-left: -25rem;
}

#features {
  display: block;
  height: 5rem;
  /*same height as header*/
  margin-top: -5rem;
  /*same height as header*/
  visibility: hidden;
}

.features .container {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 4rem 6rem;
}
.features .features-info {
  grid-row: 1/span2;
}
.features .features-info h1 {
  color: #252525;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.667rem;
  line-height: 3.333rem;
  padding-bottom: 1.667rem;
}
.features .features-info p {
  padding-bottom: 1.667rem;
}
.features .features-icons {
  width: 260px;
}
.features .features-icons h1 {
  color: #252525;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.667rem;
  line-height: 3.333rem;
  padding-bottom: 1.667rem;
  font-size: 1.222rem;
}
.features .features-icons p {
  padding-bottom: 1.667rem;
}

#pages {
  display: block;
  height: 5rem;
  /*same height as header*/
  margin-top: -5rem;
  /*same height as header*/
  visibility: hidden;
}

.pages .container {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
}
.pages .pages-image {
  align-self: center;
}
.pages .pages-image img {
  position: relative;
  left: -8rem;
  margin-right: -5rem;
}
.pages .pages-header h1 {
  color: #252525;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.667rem;
  line-height: 3.333rem;
  padding-bottom: 1.667rem;
  font-size: 3rem;
  line-height: 3.778rem;
}
.pages .pages-bulletpoints h1 {
  color: #252525;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.667rem;
  line-height: 3.333rem;
  padding-bottom: 1.667rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.333rem;
  padding-left: 6rem;
}
.pages .pages-bulletpoints p {
  padding-bottom: 1.667rem;
  padding-left: 6rem;
  padding-bottom: 2.333rem;
}
.pages .pages-bulletpoints .number {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3.333rem;
  color: #F23779;
  display: inline-block;
  position: relative;
  top: 4rem;
}

.statistics .container {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
}
.statistics .stats-info {
  grid-column: 2/span 2;
  grid-row: 1/span 1;
}
.statistics .stats-info h1 {
  color: #252525;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.667rem;
  line-height: 3.333rem;
  padding-bottom: 1.667rem;
  text-align: center;
  padding-top: 6rem;
}
.statistics .stats-info p {
  padding-bottom: 1.667rem;
  text-align: center;
}
.statistics .stats-numbers {
  grid-column: 1/span 4;
  grid-row: 2/span 1;
  justify-content: space-around;
}
.statistics .stats-numbers .number {
  display: inline-block;
  padding: 4rem 4rem;
}
.statistics .stats-numbers .number h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.333rem;
  color: #F23779;
  padding-bottom: 1.667rem;
}
.statistics .box {
  grid-column: 2/span 2;
  grid-row: 3/span 1;
  padding: 2rem;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 40px 8px #f1f1f1, 0px 0px 40px 8px #f1f1f1;
}
.statistics .box .contact-us h2 {
  font-family: "Roboto", sans-serif;
  color: #252525;
  font-weight: 600;
  font-size: 1.167rem;
}
.statistics .box .contact-us p {
  padding-bottom: 1.667rem;
  padding-bottom: 0;
}
.statistics .stats-background {
  grid-column: 1/span 4;
  grid-row: 2/span 2;
  justify-self: center;
  z-index: -1;
}

#blog {
  display: block;
  height: 5rem;
  /*same height as header*/
  margin-top: -5rem;
  /*same height as header*/
  visibility: hidden;
}

.blog .container {
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 0;
}
.blog .blog-info {
  grid-column: 1/span 3;
  align-content: center;
  padding-bottom: 6rem;
}
.blog .blog-info h1 {
  color: #252525;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.667rem;
  line-height: 3.333rem;
  padding-bottom: 1.667rem;
  text-align: center;
  align-items: center;
  padding-top: 12rem;
}
.blog .blog-info p {
  padding-bottom: 1.667rem;
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
}
.blog .blog-image {
  grid-row: 2/span 1;
  width: 100%;
  height: 100%;
  background-color: #57647C;
}
.blog .blog-entry {
  grid-row: 3/span 1;
  justify-content: space-around;
  box-shadow: 0px 0px 40px 8px #f1f1f1, 0px 0px 40px 8px #f1f1f1;
  z-index: -1;
}
.blog .blog-entry h1 {
  font-family: "Roboto", sans-serif;
  color: #252525;
  font-weight: 700;
  font-size: 1.222rem;
  padding: 1rem 2rem;
}
.blog .blog-entry p {
  padding-bottom: 1.667rem;
  padding: 1rem 2rem;
}
.blog .blog-entry h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.778rem;
  color: #FF6803;
  padding: 1rem 2rem;
}
.blog .blog-entry .btn {
  margin: 1rem 2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #57647C;
  line-height: 1.667rem;
}/*# sourceMappingURL=style.css.map */