// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Poppins', sans-serif;

//Colors
$primary-dark: #252525;
$secondary-dark: #57647C;
$primary-highlight: #F23779;
$secondary-highlight: #FF6803;
$navbar-background: #F8F9FE;
$button-font: #FFFFFF;
$button-border-font:$primary-dark;
$button-background: linear-gradient(90deg, rgba(242,55,121,1) 43%, rgba(255,104,3,1) 88%, rgba(255,166,46,1) 100%);
$button-background-hover: linear-gradient(90deg, rgba(242,55,121,1) 28%, rgba(255,104,3,1) 62%, rgba(255,166,46,1) 99%); 

//Breakpoints
$breakpoint-md:768px;
$breakpoint-md-max-width: 720px;
$breakpoint-lg: 992px;
$breakpoint-lg-max-width: 960px;
$breakpoint-xl: 1200px;
$breakpoint-xl-max-width: 1170px;