@import "./variables";
@import "./mixins";
@import "./utilities";
@import "./layouts/mobile";
@import "./layouts/tablet";

* {
    box-sizing: border-box;
    margin: 0;
    font-family: $font-primary;
    font-size: 18px;
    font-weight: 400;
    color: $secondary-dark;
    line-height: 1.667rem;
}

